<div id="" class="bg-teal-400 border">
  <p>
    <%= comment.content %>
  </p>
  <small>By: <%= comment.user.email %></small>
  <%= render partial: 'likes/button', locals: { likeable: comment } %>
  <hr>
</div>
