<%= form_with url: micropost_comments_path(micropost) do |form| %>
  <div>
    <%#= text_field(:comment,:content) %>
    <input type="text" id="comment_content" name="comment[content]" />
  </div>

  <div>
    <%= form.submit "Comment", class: "cursor-pointer bg-indigo-400 inline-block p-2 m-1 rounded-md hover:bg-indigo-500" %>
  </div>
<% end %>
