<%= form_with url: micropost_comments_path(micropost) do |form| %>
  <div>
    <%#= text_field(:comment,:content) %>
    <input type="text" id="comment_content" name="comment[content]" />
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
