<footer class="flex flex-row shrink-0 place-content-between bg-teal-900 text-white">
  <div class="copyright">Copyright</div>
  <nav>
    <ul class="flex flex-row">
      <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "About", about_path %></li>
      <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Contact", contact_path %></li>
    </ul>  
  </nav>
</footer>